In [3]:
#Write a Python script to sort (ascending and descending) a dictionary by value.
import random
my_dict = {}
for i in range(10):
    my_dict[i] = random.randint(6,26)
my_dict

{0: 10, 1: 17, 2: 24, 3: 17, 4: 6, 5: 24, 6: 14, 7: 25, 8: 22, 9: 9}

In [7]:
dict(sorted(my_dict.items()))

{0: 10, 1: 17, 2: 24, 3: 17, 4: 6, 5: 24, 6: 14, 7: 25, 8: 22, 9: 9}

In [15]:
sample_dict = {0: 10, 1: 20}
sample_dict.update({2:30})

In [9]:
sample_dict

{0: 10, 1: 20, 2: 30}

In [11]:
sample_dict.update({1:15})

In [12]:
sample_dict

{0: 10, 1: 15, 2: 30}

In [20]:
#concatenate the dictionary
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)

In [21]:
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [23]:
if 10 in dic1:
    print("true")

In [24]:
#Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x)

In [29]:
my_dict = {}
for i in range(1,16):
    my_dict[i] = i*i

In [30]:
my_dict

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [32]:
dic1.update(dic2)

In [33]:
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [37]:
#Write a Python program to sum all the items in a dictionary.
final_sum = sum(dic1.values())
final_sum

210

In [39]:
#Write a Python program to multiply all the items in a dictionary.
mul = 1
for x in dic1.values():
    mul *= x
print(mul)

720000000

In [40]:
del dic1[1]

In [43]:
dic1.update({1:12})

In [44]:
dic1

{2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 1: 12}

In [50]:
list_index = sorted(dic1)

In [52]:
dic1[list_index[0]]

12

In [54]:
dic1[list_index[len(dic1)-1]]

60

In [57]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
my_dict = dict(zip(keys,values))
my_dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [72]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

sampleDict['class']['student']['marks']['history']

80

In [73]:

employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

In [87]:
employee_dic = dict.fromkeys(employees,defaults)

In [88]:
employee_dic

{'Kelly': {'designation': 'Application Developer', 'salary': 8000},
 'Emma': {'designation': 'Application Developer', 'salary': 8000},
 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [89]:
import pandas as pd

In [90]:
df = pd.DataFrame(employee_dic)

In [91]:
df

,Kelly,Emma,John
designation,Application Developer,Application Developer,Application Developer
salary,8000,8000,8000