In [4]:
#Write a Python program to sum all the items in a list
list_1 = [23,54,78,235]
sum_list = sum(list_1)
sum_list

390

In [10]:
#Write a Python program to multiplies all the items in a list
list_1 = [23,54,78,235]
result = 1
for x in list_1:
    result *= x
result

22765860

In [16]:
#Write a Python program to get the largest number from a list.
list_1 = [33,45,1234,53]
# maximum = max(list_1)
# maximum
for i in range(len(list_1)-1):
    if list_1[i+1] > list_1[i]:
        list_1[i],list_1[i+1] = list_1[i+1],list_1[i]

maximum = list_1[0]

In [18]:
list_1

[45, 1234, 53, 33]

In [25]:
# Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.
str_list =['abc', 'xyz', 'aba', '1221','12221','22']
matching_pairs_count = len([x for x in str_list if x[0]==x[-1] and len(x)>=2])
matching_pairs_count

4

In [28]:
 #Write a Python program to remove duplicates from a list.
str_list =['22', 'abc', 'abc', '1221','12221','22']
final_list = list(dict.fromkeys(str_list))

In [29]:
final_list

['abc', '1221', '12221', '22']

In [50]:
str_list =['22','abc', 'abc', 'abc', '1221','12221','abc','22']
unique_list = []
for i in range(len(str_list)-1):
    if str_list[i] != str_list[i+1]:
        unique_list.append(str_list[i])
        #str_list.pop(i)
unique_list

['22', 'abc', '1221', '12221', 'abc']

In [51]:
new_list = [x for x in str_list if x != 'nan']

In [44]:
new_list

['abc', '1221', '12221', '22']

In [55]:
#word_list = ["asdsvbbfnb",'sfgd','adfs','sf']
string = "The quick brown fox jumps over the lazy dog"
word_list = string.split(" ")
rem_list = [word for word in word_list if len(word) > 3]

In [56]:
rem_list

['quick', 'brown', 'jumps', 'over', 'lazy']

In [59]:
Sample_List = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
index= [0,4,5]

final_list = [Sample_List[i] for i in range(len(Sample_List)) if i not in index ]

In [60]:
final_list

['Green', 'White', 'Black']

In [62]:
#Write a Python program to generate a 3*4*6 3D array whose each element is *. 
mat = [[['*' for dim in range(6)]for row in range(4)]for col in range(3)]

In [63]:
mat

[[['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']]]

In [64]:
num = [12,23,211,33,2342,45,323,66,78,90]
odd_num = [x for x in num if x%2 == 0]

In [65]:
odd_num

[12, 2342, 66, 78, 90]

In [78]:
#Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30 (both included).

num_list = [x for x in range(1,31)]

square_num = [x*x for x in list(num_list[:5]+num_list[-5:])]
square_num

[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

In [79]:
num_list[-5:]

[26, 27, 28, 29, 30]

In [80]:
#Write a Python program to generate and print a list except for the first 5 elements, where the values are square of numbers between 1 and 30 (both included).

square_numList  = [x*x for x in range(1,31)[5:]]

In [81]:
square_numList

[36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900]

In [82]:
for i ,val in enumerate(square_numList):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [83]:
char_list = ['a','b','c','d']

In [88]:
string = "".join(char_list)

In [89]:
string

'abcd'

In [90]:
list_1 = [1,2,3,4]
list_2 = [2,3,4,5]
final_list = list_1+list_2

In [91]:
final_list

[1, 2, 3, 4, 2, 3, 4, 5]

In [95]:
import random
color_list = ['Black','red','green','yellow','orange']
print(random.choice(color_list))

Black

In [113]:
list_1 = [12,44,21,443,56,123,123,123]
freq_list = [list_1.count(x) for x in list_1]
freq_list

[1, 1, 1, 1, 1, 3, 3, 3]

In [116]:
list_1 = [1,2,345,56,23,12,34,47,53,490]
final_list =[x for x in list_1 if x in range(40,400)]
print(final_list)

[345, 56, 47, 53]

In [ ]:
# 35. Write a Python program to create a list by concatenating a given list which range goes from 1 to n. Go to the editor
# Sample list : ['p', 'q']
# n =5
# Sample Output : ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [143]:

sample_list = ['p','q']
n = 5
sample_output = ['{}{}'.format(x,i) for i in range(1,6) for x in sample_list]
sample_output

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [140]:
for i in range(5):
    for x in sample_list:
        final_list.append(x + str(i))

TypeError: 'str' object is not callable